#contact_modal {
    display: none;
    z-index: 1000;
    position: fixed;
    width: 100vw;
    height: 120vh;
    top: -12%;
    backdrop-filter: blur(15px);
}

.photograph-header {
    background-color: #FAFAFA;
    height: 400px;  
    margin: 0 100px;
}

.photograph-header .photograph-header-div {
    display: flex;
    align-items: center;
    justify-content: space-around;
    align-content: center;
    padding-top: 50px;
    margin: 0px 100px 0px -100px;
}

.photograph-header div .div-photographer-info {
    display: flex;
    flex-direction: column;
    margin-right: -120px;
}

.photograph-header div .div-photographer-info h1 {
    font-size: 64px;
    font-weight: 400;
    margin-bottom: 5px;
    color: #D3573C;
    font-family: "DM Sans", sans-serif;
}

.photograph-header div .div-photographer-info .photographer_place {
    font-size: 24px;
    margin-top: 5px;
    font-weight: 400;
    margin-bottom: 20px;
    color: #901C1C;
    font-family: "DM Sans", sans-serif;
}

.photograph-header div .div-photographer-info .photographer_description {
    font-size: 18px;
    margin-top: 5px;
    font-weight: 400;
    margin-bottom: 20px;
    color: #525252;
    font-family: "DM Sans", sans-serif;
}

.photograph-header div img {
    border-radius: 50%;
    width: 300px;
    height: 300px;
}

.photograph-header .photograph-header-div button {
    font-family: "DM Sans", sans-serif;
    font-weight: 700;
    font-size: 20px;
}

.contact_button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
}

.modal {
    border-radius: 5px;
    background-color: #DB8876;
    width: 50%;
    display: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
    margin: 20vh auto;
}

.lightbox-modal {
    display: none;
    z-index: 1000;
    position: fixed;
    width: 100vw;
    height: 120vh;
    top: -15%;
    backdrop-filter: blur(15px);
}

.modal-2 {
    border-radius: 5px;
    background-color: white;
    width: 60%;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 35px;
    margin: 20vh auto;
}

.modal-2 p {
    font-size: 35px;
    font-weight: bold;
    color:#901C1C;
}

.lightbox-close {
    display: flex;
    justify-content: right;
    font-size: 60px;
    font-weight: bold;
    color:#901C1C;
}

.lightbox-flexbox {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.lightbox-flexbox p {
    font-size: 60px;
    font-weight: bold;
    color:#901C1C;
}

.lightbox-img {
    width: 600px;
    height: 600px;
}

.lightbox-desc {
    display: flex;
    justify-content: center;
}

.modal header {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.modal header div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 0;
}

.modal header img {
    cursor: pointer;
}

.modal header h2 {
    font-size: 64px;
    font-weight: normal;
    text-align: center;
    margin-bottom: 0;
    margin-top: 0;
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

form label {
    color: #312E2E;
    font-size: 36px;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 26px;
}

form input {
    width: 100%;
    height: 68px;
    border: none;
    border-radius: 5px;
}

.filter-div {
    margin-top: 50px;
    margin-left: 100px;
    display:flex;
    gap: 20px;
}

.filter-div p {
    font-family: "DM Sans", sans-serif;
    font-weight: bold;
    font-size: 20px;
}

.filter-div select {
    border-style: none;
    border-radius: 8px;
    font-family: "DM Sans", sans-serif;
    padding: 20px;
    font-size: 20px;
    color: white;
    background-color:#901C1C;
}

.bottom-text {
    position: fixed;
    display: flex;
    right: 100px;
    gap: 50px;
    bottom: 0;
    font-size: 23px;
    font-weight: bold;
    background-color: #D3573C;
    padding:0 35px 0 35px;
    border-radius: 15px 15px 0 0;

}

.bottom-text .bottom-text-likes {
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
}

.photos-grid {
    display: flex;
    justify-content: center;
    gap: 300px;
    row-gap: 50px;
    margin: 30px 100px;
    flex-wrap: wrap;
    flex-basis: 33.333333%;
}

.photos-grid-text {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    color:#901C1C;
    font-size: 20px;
}

.photos-grid-likes {
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    color:#901C1C;
    font-size: 22px;
    font-weight: 700;
}
